/* Tailwind Css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts- Kaisai Decol */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Kaisei Decol', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
